<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
          <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
      <div class="card-body">
      <h5>ユーザー名</h5>
      <p><%= @user.name %></p>
      <h5>メールアドレス</h5>
      <p><%= @user.email %></p>
      </div>
    </div>
    <div>
      <a>編集ページへ</a>
    </div>
  </aside>
  <div class="col-sm-8">
    
  </div>
</div>