<div class="jumbotron text-center mb-4">
  <h1>ようこそ WhyDo へ</h1>
  <a>新規登録</a>
</div>

<div class="mb-3">
  <h3 class="border-bottom">
    WhyDo とは
  </h3>
  <p class="mb-0">WhyDoはOKRの考えを用いた自己管理ツールです。</p>
  <p class="mb-0">最終的な目標と目標を達成するために必要なこと、その達成度が一つの画面に収まっています。</p>
  <p　class="mb-0">そのため、自分が「何のために」取り組んでいるか、今どれくらい達成しているかがひと目でわかるツールになっています。</p>
</div>

<div class="mb-5">
  <h3 class="border-bottom">
    OKR とは
  </h3>
  <p class="mb-0">
    OKRはObjective and Key Resultの略称です。
    </p>
  <p class="mb-0">
    Objectiveは挑戦的でワクワクするような、自分が達成したいと思える目標で、
    Key ResultはObjectiveを達成するための数値的指標、具体的かつ数値で達成度がわかるものとなっています。
  </p>
  <p class="mb-0">
    一つのObjectiveに対して2〜5個程度のKey Resultを持たせることで、目標を達成するために取り組むべきことを明確化します。
  </p>
</div>

<div class=text-center>
<a>新規登録</a>
</div>