<% ambitions.each do |ambition| %>
<div class="card mb-3">
  <div class="card-header">
    <p>期間:<%= ambition.start_date %> 〜 <%= ambition.end_date %></p>
  </div>
  <div class="card-body">
    <p class="text-center"><%= link_to ambition.content, ambition_path(ambition), class: 'text-dark border-bottom' %></p>
  </div>
</div>
<% end %>

<%= paginate ambitions %>