<div class="text-center pb-4 mb-3 border-bottom">
  <h2>Key_Result編集</h2>
</div>

<div>
  <%= render 'form', ambition: @ambition, key_result: @key_result %>
</div>

<%= link_to '削除', key_result_path, method: :delete, data: { confirm: "本当に削除しますか？" } %>