<div class="row pb-4 mb-3 border-bottom">
  <div class="col-sm-2">
    <%= link_to '戻る', ambition_path(@key_result.ambition) %>
  </div>
  <div class="col-sm-8 text-center">
    <h2>Key_Result編集・削除</h2>
  </div>
  <div class="col-sm-2 text-center">
    <%= link_to '削除', key_result_path, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: "本当に削除しますか？" } %>
  </div>
</div>

<div>
  <%= render 'form', ambition: @ambition, key_result: @key_result %>
</div>
